---
layout: default
class: home
hide_breadcrumbs: true
title: 选择一个开源许可证
permalink: /
---

<p>开源许可证可保护贡献者和用户。没有这种保护，企业和精明的开发人员就不会接触项目。</p>

<h2>
  <span>{</span>
  以下哪项最能描述您的情况？
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="existing">
    <a href="community/">
      <span class="triptych-sprite community"></span>
      <h3>我需要在软件开发社区工作。</h3>
    </a>
    <p>
      使用您所贡献或依赖的<a href="community/">社区所偏爱的许可证</a>。您的项目将完全适合。
    </p>
    <p>
      如果您的依赖项没有许可证，请要求其维护者<a href="no-permission/#for-users">添加许可证</a>。
    </p>
  </li>
  <li class="whatever">
    <a href="licenses/mit/">
      <span class="triptych-sprite three-arrows"></span>
      <h3>我希望协议简单而宽松。</h3>
    </a>
    <p>
      <a href="licenses/mit/">MIT 许可证</a>特别简短且合适。它让人们几乎可以对您的项目进行任何操作，例如编写和分发封闭源代码版本。
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>我关心改进可以共享。</h3>
    </a>
    <p>
      <a href="licenses/gpl-3.0/">GNU GPLv3 许可证</a> 也让人们做几乎任何他们想要与您的项目，但<strong>禁止</strong>分发封闭源代码的版本。
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  如果这些都不适合我怎么办？
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>我的项目不是软件。</h3>
    <p>
      <a href="non-software/">针对这些项目的许可证。</a>
    </p>
  </li>
  <li>
    <h3>我想要更多选择。</h3>
    <p>
      <a href="licenses/">有更多许可证可用。</a>
    </p>
  </li>
  <li>
    <h3>我不想选择许可证。</h3>
    <p>
      <a href="no-permission/">如果不选许可证，会有这样的后果。</a>
    </p>
  </li>
</ul>
