---
layout: default
permalink: licenses/
class: license-types
title: 许可证列举
---

<p>开源许可证授予任何人以任何目的使用，修改和共享许可软件的许可，但要遵守保护该软件的来源和开放性的条件。以下许可证按约束的条件数排序，从多（GNU AGPLv3）到无（Unlicense）。请注意，<a href="/">首页</a>上的热门许可证（GNU GPLv3 和 MIT）落在这个范围之中。</p>

<p style="font-size:small; margin-bottom: 40px">如果要在 choicealicense-cn.github.io 上查找每个许可证的参考说明表格，请参阅<a href="/appendix">附录</a>。</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="bsl-1.0" %}
{% include license-overview.html license-id="unlicense" %}

以上许可证代表了开放源代码许可证的所有范围，从高度保护到无条件。大多数新的开源项目都可以从这里挑选一个合适许可证。还存在许多其他开源许可证，包括上述版本的较旧版本和近似替代品。如果您想了解更多信息，请参见<a href="/about/">关于</a>页面上列出的资源。
